body {
  background: grey;
  position: relative;
}

nav {
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

nav ul {
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin-left: 5px;
  color: white;
  background: black;
}

div {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

article {
  background: white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  -webkit-box-shadow: 25px 25px 15px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 25px 15px 5px rgba(0,0,0,0.75);
  box-shadow: 25px 25px 15px 5px rgba(0,0,0,0.75);
}
